#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(174, 223, 194);
}

#Gary {
  width: 20vh;
  align-items: flex-start;
}

#toolbar {
  background-color: rgb(143, 223, 176);
}
